<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
    <div class="flex items-start">
        <img
            class="w-12 h-12 rounded-full mr-5"
            src="assets/images/avatars/brian-hughes.jpg"
            alt="Card cover image">
        <mat-form-field
            class="flex w-full"
            [subscriptSizing]="'dynamic'">
            <textarea
                class="leading-normal my-2"
                formControlName="title"
                matInput
                [placeholder]="'Write a comment...'"
                cdkTextareaAutosize
                [rows]="1"></textarea>
        </mat-form-field>
    </div>
    <div class="flex items-center mt-3 ml-auto -mr-3">
        <button mat-icon-button *ngIf="hasCancelButton" type="button">
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:sparkles'"></mat-icon>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" color="primary">
            {{submitLabel}}               
        </button>
        <button 
                *ngIf="hasCancelButton"
                mat-raised-button type="submit" 
                [disabled]="form.invalid" 
                color="disabled" (click)="handleCancel.emit()">
            Cancel              
        </button>

    </div>
</div>
</form>


    