.reaction-menu {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
  }
.emoji-picker-wrapper {
  position: relative;

}

.emoji-picker-container {
  position: absolute;
  top: -350px; /* Adjust this value to cover the button and the picker height */
  right: 20px; /* Adjust this value to move it to the left */
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.emoji-picker-container-update {
  position: absolute;   
 
  left: 20px; /* Adjust this value to move it to the left */
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.sticky-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.3s; /* add a smooth transition effect */
}

.sticky {
  position: fixed;
  top: 0;
}