<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="accountForm">

                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <label for="avatar">
                            <div class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!currentUser.avatar">
                                <input
                                id="avatar"
                                type="file"
                                style="display: none"
                                [formControlName]="'avatar'"
                                (change)="onAvatarSelected($event)"> 
                            {{currentUser.fullName.charAt(0)}}
                            </div>
                        </label> 
                        <label for="avatar">
                            <img
                            class="w-full h-full object-cover"
                            [src]="currentUser.avatar">
                            <input
                            id="avatar"
                            type="file"
                            style="display: none"
                            [formControlName]="'avatar'"
                            (change)="onAvatarSelected($event)"> 
                        </label>

                        
                        <!-- <input
                            id="avatar"
                            type="file"
                            style="display: none"
                            [formControlName]="'avatar'"
                            (change)="onAvatarSelected($event)">  -->
                    </div>
                    
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{t('welcome-back')}}</div>
                        </ng-container>
                    </div>
                </div>
<br>



        <!-- Section -->
        <div class="w-full">
         <ng-container *transloco="let t"> 
            <div class="text-secondary">Following information about your profile is publicly displayed, be careful!</div></ng-container>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'fullName'"
                        matInput>
                </mat-form-field>
            </div>

            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Title</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:briefcase'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'title'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Company -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Company</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'company'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- About -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>About</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'about'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Brief description for your profile. Basic HTML and Emoji are allowed.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Personal Information</div>
            <div class="text-secondary">Communication details in case we want to connect with you. These will be kept private.</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Phone</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Country -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'tunisia'">Tunisie</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                (click)="onCancel()"
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
               (click)="onSave()"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">Save
            </button>
        </div>
    </form>

</div>
